@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&display=swap');

*{
    padding: 0%;
    margin: 0%; 
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 40px;
    font-family: 'Cairo Play', sans-serif;
}

.head{
    font-size: 80px;
}

input[type="text"] {
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
}

#qrForm{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.button {    
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Cairo Play', sans-serif;
}

.button:hover {
    background-color: #444;
}

.button:active {
    background-color: #222;
}