.head{
    padding-left: 25px;
    font-size: 48px;
}
.container{
    padding-left: 25px;
    padding-top: 25px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    width: 300px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #444;
}

.button:active {
    background-color: #222;
}