@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@800&display=swap');

*{
    padding: 0%;
    margin: 0%; 
}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 70px;
    font-family: 'Cairo Play', sans-serif;
}

.head{
    font-size: 80px;
}

input[type="text"] {
    height: 50px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 400px;
    box-shadow: 2px 2px #222 inset;   
}

.container, #qrForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.button {    
    width: 400px;
    height: 50px;
    font-size: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Cairo Play', sans-serif;
}

.button:hover {
    background-color: #444;
}

.button:active {
    background-color: #222;
}

#qrCodeImage{
    height: 250px;
    width: 250px;
    border: 1px solid #ccc;
}